body {
	background-color: #f3f3f3;
}

.well-known-saying {
	text-align: center;
	padding: 35px 0 25px;
	color: #b7b7b7;
	font-size: 15px;
	line-height: 17px;
	text-align: center;
}

.ask-box {
	padding: 30px 80px 30px 60px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	margin: 0 auto 100px;
}

.ask-box .control-label {
	color: #353535;
}

.ask-box .control-label i {
	color: red;
	margin-right: 6px;
}

.ask-explain textarea {
	height: 80px;
}

.ask-score {
	line-height: 50px;
}

.ask-score .dropdown {
	display: inline;
	float: left;
	margin-right: 20px;
}

.ask-score .current-score {
	display: block;
	color: #bbb;
	overflow: hidden;
}

.ask-submit {
	width: 150px;
	height: 45px;
	font-size: 18px;
}