ul {
	list-style: none;
}

.coin-icon {
	background-image: url("../images/icon.png");
}

.coin-icon {
	background-position: -28px -374px;
	display: inline;
	float: left;
	width: 13px;
	height: 12px;
	margin-top: 2px;
	background-repeat: no-repeat;
}

.coin-count {
	display: inline;
	float: left;
	color: #e7412b;
	margin: 0 20px 0 8px;
	line-height: 16px;
	height: 16px;
}

.title-link {
	font-size: 14px;
	line-height: 16px;
	color: #3066b3;
	display: inline;
	float: left;
	height: 16px;
}